<form action="/lists/<%= @list_id %>/todos" method="post">
  <dl>
    <dt>
      <label for="new_todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo_name" placeholder="Something to do" type="text" value="<%= params[:todo_name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>
